<% if current_user.profile.first_name.present? && current_user.profile.last_name.present? %>
<%= bootstrap_flash %>
<div class="row">
	<div class="col-lg-3 mb-3">
		<div class="card shadow h-100">
			<div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Number of Distributor</h6>
            </div>
			<div class="card-body">
				sss
			</div>
		</div>
	</div>
	<div class="col-lg-3 mb-3">
		<div class="card shadow h-100">
			<div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Number of Clients</h6>
            </div>
			<div class="card-body">
				sss
			</div>
		</div>
	</div>
	<div class="col-lg-3 mb-3">
		<div class="card shadow h-100">
			<div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Number Of Producs</h6>
            </div>
			<div class="card-body">
				sss
			</div>
		</div>
	</div>
	<div class="col-lg-3 mb-3">
		<div class="card shadow h-100">
			<div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">No Of Warranty Created</h6>
      </div>
			<div class="card-body">
				sss
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12 mb-3 mt-4">
		<%= month_calendar do |date| %>
		  <%= date.strftime("%e") %>
		<% end %>
	</div>
</div>
<% else %>
<% controller.redirect_to edit_profile_path(current_user.profile), notice: 'You need to add your full name before you will see the dashboard.' %>
<!-- <script type="text/javascript">
    $(document).on('turbolinks:load', function() {
        // Redirect to Current Profile
        window.location.href = "<%= edit_profile_path(current_user.profile) %>";
    });
</script> -->
<% end -%>