<h1 class="h3 mb-2 text-gray-800">Editing <%= controller.controller_name.titleize %></h3>

<%= render 'form', warranty: @warranty %>

<%= link_to 'Show', @warranty %> |
<%= link_to 'Back', warranties_path %>
