<h1 class="h3 mb-2 text-gray-800">Editing <%= controller.controller_name.titleize %></h3>

<%= render 'form', product: @product %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
